@model IEnumerable<DbSchool.Pupil>

@{
    ViewData["Title"] = "Учні за класом";
}

<h1>Учні за класом </h1>

<p>
    @Html.ActionLink("Додати нового учня", "Create", new { classId = @ViewBag.ClassId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PupilFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PupilFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PupilId">Редаг.</a> |
                <a asp-action="Details" asp-route-id="@item.PupilId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.PupilId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
